<div id="interactive-friend-button-wrapper">
  <% if(locals.friendship_status.status === 'none'){ %>
    <button
      id = "interactive-friend-button"
      hx-post="/friend_request/send/<%= locals.user_id %>"
      hx-swap="none"
      class="self-end outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 text-center bg-green-900">
      Send Friend Request
    </button>
  <% } else if(locals.friendship_status.status === 'friends'){ %>
    <!-- XXX: currently unimplemented -->
    <button
      id = "interactive-friend-button"
      hx-post="/friend_request/<%= locals.friendship_status.friends_id %>/unfriend" 
      hx-swap="none"
      class="self-end outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 text-center bg-red-900">
      Unfriend
    </button>
  <% } else if(locals.friendship_status.status === 'request_send'){ %>
    <button
      id = "interactive-friend-button"
      hx-post="/friend_request/<%= locals.friendship_status.friends_id %>/cancel" 
      hx-swap="none"
      class="self-end outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 text-center bg-red-900">
      cancel friend request
    </button>
  <% } else if(locals.friendship_status.status === 'request_recieved'){ %>
    <button
      id = "interactive-friend-button"
      hx-post="/friend_request/<%= locals.friendship_status.friends_id %>/accept" 
      hx-swap="none"
      class="self-end outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 text-center bg-green-900">
      accept friend request
    </button>
  <% } %>
  
  <div 
    id="interactive-friend-button-refresher"
    hx-get="/user/interactive-friend-button/<%= locals.user_id %>"
    hx-trigger="click from:#interactive-friend-button"
    hx-swap="outerHTML"
    hx-target="#interactive-friend-button-wrapper"
    hx-sync="#interactive-friend-button:queue last">
  </div>
</div>