<div class="flex min-h-[80vh] flex-col items-center justify-center py-10">

  <div class="mb-6 flex flex-col items-center justify-between border-b-2 border-black pb-4">
    <h1 class="text-2xl flex font-black uppercase">
      Game <span class="text-gray-500">#<%= gameId.slice(0,8) %></span>
    </h1>
    <h3 class="text-2xl flex font-black uppercase">
      SecretWord is &nbsp; <span class="text-gray-500">'<%= secretWord %>'</span>
    </h3>
  </div>

  <% if (playerWon) { %>
    <%- include('./partials/alert/success', { message: 'You guessed the word first!', id: 'game-over-alert', swap: false }) %>
  <% } else { %>
    <%- include('./partials/alert/error', { message: 'Game Over! Your opponent guessed the word first.', id: 'game-over-alert', swap: false }) %>
  <% } %>


  <div class="w-full max-w-5xl">

    <div class="grid grid-cols-1 gap-8 py-10 lg:grid-cols-2 items-start">

      <div class="relative lg:col-span-1 flex flex-col gap-2">

        <div class="absolute -top-4 left-4 bg-yellow-300 border-2 border-black px-2 font-bold text-sm">
          <%= myName %> (You)
        </div>

        <div
          id="guesses-list"
          class="flex h-96 flex-col overflow-y-auto bg-gray-50 p-4 shadow-[inset_4px_4px_0_0_rgba(0,0,0,0.1)] border-2 border-black mb-4">
          <% guesses.forEach(guess => { %>
            <%- include('./partials/game/word_row', { guess }) %>
          <% }) %>
        </div>

      </div>

      <div class="relative lg:col-span-1 flex flex-col gap-2">

        <div class="absolute -top-4 left-4 bg-yellow-300 border-2 border-black px-2 font-bold text-sm">
          <%= opponentName %> (You)
        </div>

        <div
          id="guesses-list"
          class="flex h-96 flex-col overflow-y-auto bg-gray-50 p-4 shadow-[inset_4px_4px_0_0_rgba(0,0,0,0.1)] border-2 border-black mb-4">
          <% opponentGuesses.forEach(guess => { %>
            <%- include('./partials/game/word_row', { guess }) %>
          <% }) %>
        </div>

      </div>

    </div>

  </div>

</div>
