<div class="flex min-h-[80vh] flex-col items-center justify-center py-10">
  <!-- <h1 class="text-2xl mb-4">Game #<%= gameId %></h1> -->

  <div class="mb-6 flex items-center justify-between border-b-2 border-black pb-4">
    <h1 class="text-2xl font-black uppercase">
      Game <span class="text-gray-500">#<%= gameId.slice(0,8) %></span>
    </h1>
  </div>

  <div hx-ext="ws" ws-connect="/game/<%= gameId %>">

    <div
      id="guesses-list"
      class="mb-6 flex h-96 flex-col overflow-y-auto border-2 border-black bg-gray-50 p-4 shadow-[inset_4px_4px_0_0_rgba(0,0,0,0.1)]">

      <% guesses.forEach(guess => { %>
        <%- include('./partials/game/word_row', { guess }) %>
      <% }) %>

    </div>

    <%- include('partials/game/game_message', { message: '', swap: false }) %>

    <form ws-send>
      <div class="flex gap-2 relative">
        <%- include('partials/game/input_field', { swap: false }) %>
      </div>
      <%- include('partials/inputs/form_button', { buttonText: "SUBMIT" }) %>
    </form>

  </div>
</div>
