<div class="flex flex-row w-full justify-center p-6 gap-2 flex-auto bg-zinc-700 text-white h-1/2" >
  <div class="flex-1/2 outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2">
    <div class="flex flex-col h-full gap-2">
      <div id="tab-selectors" class="flex flex-row justify-around">
        <button class="bg-sky-500 hover:bg-sky-700 grow p-4 tablink active-tablink" onclick="tabClick(event, 'friends-tab')">Friends</button>
        <button class="bg-sky-500 hover:bg-sky-700 grow p-4 tablink" onclick="tabClick(event, 'send-requests-tab')">Send Requests</button>
        <button class="bg-sky-500 hover:bg-sky-700 grow p-4 tablink" onclick="tabClick(event, 'recieved-requests-tab')">Recieved Requests</button>
      </div>
      <!-- TODO: currently it is impossible for two users taht set their profies to private to send a friend request to each other
      Add a new tab with a form to send a request using user id? 
      -->
      <span id="friends-tab" class="overflow-auto tabcontent"><div class="flex flex-col gap-2">
        <% if(locals.friends.length == 0) { %>
          <p> You have no friends =( </p>
        <% } %>
        <% for(var i=0; i < locals.friends.length; i++) { %>
          <div class="flex-none text-left outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2">
            <div>
              <a href="/user/<%= locals.friends[i].user_id %>"> <%= locals.friends[i].username %> </a>
            </div> <!-- TODO: Develop this and make it pretty -->
          </div>
        <% } %>
      </div></span>
      <span id="send-requests-tab" class="tabcontent" style="display: none"><div class="flex flex-col overflow-auto gap-2 h-full">
        <% if(locals.sent_friend_requests.length == 0) { %>
          <p> You have no unanswered send friend requests </p>
        <% } %>
        <% for(var i=0; i < locals.sent_friend_requests.length; i++) { %>
          <div id="sent-req-<%= i %>" class="flex-none text-left outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2">
            <div class="flex flex-row justify-around gap-2">
              <a href="/user/<%= locals.sent_friend_requests[i].user_id %>"> <%= locals.sent_friend_requests[i].username %> </a>
              <button
                hx-post="/friend_request/<%= locals.sent_friend_requests[i].id %>/cancel"
                hx-swap="outerHTML"
                hx-target="#sent-req-<%= i %>"
                class="justify-center self-center outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 text-center bg-red-900">
                Cancel
              </button>
            </div> <!-- TODO: Develop this and make it pretty -->
          </div>
        <% } %>
      </div></span>
      <span id="recieved-requests-tab" class="tabcontent" style="display: none"><div class="flex flex-col overflow-auto gap-2 h-full">
        <% if(locals.received_friend_requests.length == 0) { %>
          <p> You have no unanswered recieved friend requests </p>
        <% } %>
        <% for(var i=0; i < locals.received_friend_requests.length; i++) { %>
          <div id="recieved-req-<%= i %>" class="flex-none text-left outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2">
            <div class="flex flex-row justify-around gap-2">
              <a href="/user/<%= locals.received_friend_requests[i].user_id %>"> <%= locals.received_friend_requests[i].username %> </a>
              <button
                hx-post="/friend_request/<%= locals.received_friend_requests[i].id %>/accept"
                hx-swap="outerHTML"
                hx-target="#recieved-req-<%= i %>"
                class="justify-center self-center outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 text-center bg-green-900">
                Accept
              </button>
              <button
                hx-post="/friend_request/<%= locals.received_friend_requests[i].id %>/reject"
                hx-swap="outerHTML"
                hx-target="#recieved-req-<%= i %>"
                class="justify-center self-center outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 text-center bg-red-900">
                Decline
              </button>
            </div> <!-- TODO: Develop this and make it pretty -->
          </div>
        <% } %>
      </div></span>
    </div>
  </div>
  <div class="flex-1/2">
    <div class="flex flex-col h-full gap-2">
      <div class="flex-1/2 outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2">
        <ul class="text-left">                           <!-- TODO: Generalize and move to partial views -->
          <li> Username: <%= locals.username %> </li>
          <li> Player since: <%= locals.created_at.toLocaleDateString(undefined, {weekday: "long", year: "numeric", month: "long", day: "numeric"}) %> </li>
          <li> Games played: <%= locals.games_played %> </li>
          <li> Games won: <%= locals.games_won  %> </li>
        </ul>
      </div>
      <div class="flex-1/2 outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2">
        <div id="user-data-box" class="flex flex-col justify-between h-1/1" style="display: block;">
          <ul class="text-left">
            <li> Username: <%= locals.username %> </li>
            <li> Email: <%= locals.email %> </li>
            <li> Is profile public: <%= locals.is_public %> </li>
<!--             <li> Password: ••••••••••</li> -->
          </ul>
          <button id="data-button" class="flex-none self-center outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 w-9/10">
            Update personal info
          </button>
        </div>
        <!-- TODO: make this pretty, make buttons align to the bottom -->
        <!-- XXX: Something is wrong with those flexboxes AND I DONT CARE  -->
        <!-- TODO: Client side check if passwords match -->
        <!-- TODO: confirmation dialog window -->
        <!-- TODO: input current password to change password -->
        <!-- TODO: what if change fails? -->
        <!-- TODO: password change -->
        <form hx-patch="/auth/update_data">
          <div id="user-data-edit-box" class="flex flex-col justify-between h-1/1" style="display: none;">
              <div class="flex-auto self-start">
                <label for="username"> username </label>
                <input id="username-input" type="text" class="bg-gray-100 text-black " name="username" placeholder="username" value="<%- locals.username %>" required><br><br>
              </div>
              <div class="flex-auto">
                <label for="email"> email </label>
                <input id="email-input" type="text" class="bg-gray-100 text-black" name="email" placeholder="name@example.com" value="<%- locals.email %>" required><br><br>
              </div>
              <div class="flex-auto">
                <label for="Is profile public"> is_public </label>
                <input id="is-public-input" type="checkbox" class="bg-gray-100 text-black" name="is_public" value="true" <% if(locals.is_public){ %> checked <% } %> ><br><br>
              </div>
              <!-- <div class="flex-auto">
                <input id="pass-input" type="password" class="bg-gray-100 text-black" name="password" placeholder="password"><br><br>
              </div>
              <div class="flex-auto">
                <input id="rep-pass-input" type="password" class="bg-gray-100 text-black" name="password_repeat" placeholder="repeat password"><br><br>
              </div> -->
            <div class="flex flex-row w-1/1 gap-4 px-8">
              <button
                type="submit"
                class="flex flex-auto justify-center self-center outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 text-center bg-green-900">
                  Save
              </button>
              <button
                id="cancel-button" 
                class="flex flex-auto justify-center self-center outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 text-center bg-red-900">
                  Cancel
              </button> 
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePersonalData() {
    document.getElementById("username-input").value = "<%- locals.username %>";
    document.getElementById("email-input").value = "<%- locals.email %>";
    
    document.getElementById("is-public-input").checked = <%- locals.is_public %> ;
    
/*     document.getElementById("pass-input").value = "";
    document.getElementById("rep-pass-input").value = ""; */
    
    var x = document.getElementById("user-data-box");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
    var x = document.getElementById("user-data-edit-box");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  
  document.getElementById("data-button").onclick=togglePersonalData;
  document.getElementById("cancel-button").onclick=togglePersonalData;
  
  const tabs = document.getElementsByClassName("tabcontent");
  tablinks = document.getElementsByClassName("tablink");
  function tabClick(evt, id){
    for (i = 0; i < tabs.length; i++) {
      tabs[i].style.display = "none";
    }
    document.getElementById(id).style.display = "block";
    
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active-tablink", "");
    }
    evt.currentTarget.className += " active-tablink";
  }
</script>

<style>
button.active-tablink {
  background-color: oklch(50% 0.134 242.749);
}
</style>