<div class="flex flex-row w-full justify-center p-6 gap-2 flex-auto bg-zinc-700 text-white" >
  <div class="flex-1/2 outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2">
    <div class="flex flex-col overflow-auto gap-2 h-full">
      <!-- TODO: tabs for friend requests -->
      <p class="top-0 sticky bg-zinc-700 p-2"> Friends: </p>
      <% for(var i=0; i < locals.friends.length; i++) { %>
        <div class="flex-none text-left outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2">
          <div>
            <a href="/user/<%= locals.friends[i].user_id %>"> <%= locals.friends[i].username %> </a>
          </div> <!-- TODO: Develop this and make it pretty -->
        </div>
      <% } %>
    </div>
  </div>
  <div class="flex-1/2">
    <div class="flex flex-col h-full gap-2">
      <div class="flex-1/2 outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2">
        <ul class="text-left">                           <!-- TODO: Generalize and move to partial views -->
          <li> Username: <%= locals.username %> </li>
          <li> Player since: <%= locals.created_at.toLocaleDateString(undefined, {weekday: "long", year: "numeric", month: "long", day: "numeric"}) %> </li>
          <li> Games played: <%= locals.games_played %> </li>
          <li> Games won: <%= locals.games_won  %> </li>
        </ul>
      </div>
      <div class="flex-1/2 outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2">
        <div id="user-data-box" class="flex flex-col justify-between h-1/1" style="display: block;">
          <ul class="text-left">
            <li> Username: <%= locals.username %> </li>
            <li> Email: <%= locals.email %> </li>
            <li> Is profile public: <%= locals.is_public %> </li>
<!--             <li> Password: ••••••••••</li> -->
          </ul>
          <button id="data-button" class="flex-none self-center outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 w-9/10">
            Update personal info
          </button>
        </div>
        <!-- TODO: make this pretty, make buttons align to the bottom -->
        <!-- XXX: Something is wrong with those flexboxes AND I DONT CARE  -->
        <!-- TODO: Client side check if passwords match -->
        <!-- TODO: confirmation dialog window -->
        <!-- TODO: input current password to change password -->
        <!-- TODO: what if change fails? -->
        <!-- TODO: password change -->
        <form hx-patch="/auth/update_data">
          <div id="user-data-edit-box" class="flex flex-col justify-between h-1/1" style="display: none;">
              <div class="flex-auto self-start">
                <label for="username"> username </label>
                <input id="username-input" type="text" class="bg-gray-100 text-black " name="username" placeholder="username" value="<%- locals.username %>" required><br><br>
              </div>
              <div class="flex-auto">
                <label for="email"> email </label>
                <input id="email-input" type="text" class="bg-gray-100 text-black" name="email" placeholder="name@example.com" value="<%- locals.email %>" required><br><br>
              </div>
              <div class="flex-auto">
                <label for="Is profile public"> is_public </label>
                <input id="is-public-input" type="checkbox" class="bg-gray-100 text-black" name="is_public" value="true" <% if(locals.is_public){ %> checked <% } %> ><br><br>
              </div>
              <!-- <div class="flex-auto">
                <input id="pass-input" type="password" class="bg-gray-100 text-black" name="password" placeholder="password"><br><br>
              </div>
              <div class="flex-auto">
                <input id="rep-pass-input" type="password" class="bg-gray-100 text-black" name="password_repeat" placeholder="repeat password"><br><br>
              </div> -->
            <div class="flex flex-row w-1/1 gap-4 px-8">
              <button
                type="submit"
                class="flex flex-auto justify-center self-center outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 text-center bg-green-900">
                  Save
              </button>
              <button
                id="cancel-button" 
                class="flex flex-auto justify-center self-center outline rounded-2xl inset-ring-1 inset-ring-white/100 p-2 text-center bg-red-900">
                  Cancel
              </button> 
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePersonalData() {
    document.getElementById("username-input").value = "<%- locals.username %>";
    document.getElementById("email-input").value = "<%- locals.email %>";
    
    document.getElementById("is-public-input").checked = <%- locals.is_public %> ;
    
/*     document.getElementById("pass-input").value = "";
    document.getElementById("rep-pass-input").value = ""; */
    
    var x = document.getElementById("user-data-box");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
    var x = document.getElementById("user-data-edit-box");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  
  document.getElementById("data-button").onclick=togglePersonalData;
  document.getElementById("cancel-button").onclick=togglePersonalData;
</script>