<div class="mx-auto w-full max-w-5xl p-6 flex flex-col gap-8" >

  <div class="flex flex-col md:flex-row items-center justify-between gap-4 border-2 border-black bg-white p-6 shadow-[4px_4px_0_0_#000]">
    <div class="flex items-center gap-4">      
        <h2 class="text-3xl font-black tracking-tight"><%= locals.username %></h2>
        <a href="/user/<%= locals.user_id %>"><u> #<%= locals.user_id %></u> — Your Page</a>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-stretch">

    <%- include('partials/user_stats') %>

    <div class="md:col-span-2 flex-1 h-full">

      <div id="tab-selectors" class="flex flex-row flex-wrap gap-2 mb-2 flex-none">
        <button class="border-2 border-transparent px-6 py-2 font-semibold hover:bg-black hover:text-white focus:ring-2 focus:ring-yellow-300 focus:outline-0 tablink active-tablink" onclick="tabClick(event, 'friends-tab')">Friends</button>
        <button class="border-2 border-transparent px-6 py-2 font-semibold hover:bg-black hover:text-white focus:ring-2 focus:ring-yellow-300 focus:outline-0 tablink" onclick="tabClick(event, 'send-requests-tab')">Send Requests</button>
        <button class="border-2 border-transparent px-6 py-2 font-semibold hover:bg-black hover:text-white focus:ring-2 focus:ring-yellow-300 focus:outline-0 tablink" onclick="tabClick(event, 'recieved-requests-tab')">Recieved Requests</button>
      </div>
      <!-- TODO: currently it is impossible for two users taht set their profies to private to send a friend request to each other
        Add a new tab with a form to send a request using user id? 
      -->

      <div class="w-full flex-1 border-2 border-black bg-white shadow-[4px_4px_0_0_#000] flex flex-col">

        <div id="friends-tab" class="tabcontent h-full flex flex-col relative">
          <div class="flex-1 h-full overflow-y-auto">
            <%- include('partials/friend_list') %>
          </div>
        </div>

        <div id="send-requests-tab" class="tabcontent h-full flex flex-col relative" style="display: none">
          <% if(locals.sent_friend_requests.length > 0) { %>
            <ul class="divide-y-2 divide-gray-200">
              <% for(var i=0; i < locals.sent_friend_requests.length; i++) { %>
                <li id="sent-req-<%= i %>" class="group">
                  <a href="/user/<%= locals.sent_friend_requests[i].user_id %>" class="flex items-center justify-between p-4">
                    
                    <div class="flex items-center gap-4">
                      <span class="font-bold text-lg group-hover:underline decoration-2 underline-offset-4">
                        <%= locals.sent_friend_requests[i].username %>
                      </span>
                    </div>

                    <button
                      hx-post="/friend_request/<%= locals.sent_friend_requests[i].friends_id %>/cancel"
                      hx-swap="outerHTML"
                      hx-target="#sent-req-<%= i %>"
                      class="self-end cursor-pointer border-2 border-black px-5 py-3 font-bold text-black shadow-[4px_4px_0_0] transition-all hover:shadow-[2px_2px_0_0] active:translate-x-[2px] active:translate-y-[2px] active:shadow-none focus:outline-none bg-red-50 hover:bg-red-300">
                      Cancel
                    </button>

                  </a>
                </li>
              <% } %>
            </ul>
          <% } else { %>
            <div class="p-10 text-center flex flex-col items-center justify-center text-gray-500 gap-2">
              <p>You have no pending friend requests =(</p>
            </div>
          <% } %>
        </div>

        <div id="recieved-requests-tab" class="tabcontent h-full flex flex-col relative" style="display: none">
          <% if(locals.received_friend_requests.length > 0) { %>
            <ul class="divide-y-2 divide-gray-200">
              <% for(var i=0; i < locals.received_friend_requests.length; i++) { %>
                <li id="recieved-req-<%= i %>" class="group">
                  <a href="/user/<%= locals.received_friend_requests[i].user_id %>" class="flex items-center justify-between p-4">
                    
                    <div class="flex items-center gap-4">
                      <span class="font-bold text-lg group-hover:underline decoration-2 underline-offset-4">
                        <%= locals.received_friend_requests[i].username %>
                      </span>
                    </div>

                    <button
                      hx-post="/friend_request/<%= locals.received_friend_requests[i].friends_id %>/accept"
                      hx-swap="outerHTML"
                      hx-target="#recieved-req-<%= i %>"
                      class="self-end cursor-pointer border-2 border-black px-5 py-3 font-bold text-black shadow-[4px_4px_0_0] transition-all hover:shadow-[2px_2px_0_0] active:translate-x-[2px] active:translate-y-[2px] active:shadow-none focus:outline-none bg-green-50 hover:bg-green-300">
                      Accept
                    </button>
                    <button
                      hx-post="/friend_request/<%= locals.received_friend_requests[i].friends_id %>/reject"
                      hx-swap="outerHTML"
                      hx-target="#recieved-req-<%= i %>"
                      class="self-end cursor-pointer border-2 border-black px-5 py-3 font-bold text-black shadow-[4px_4px_0_0] transition-all hover:shadow-[2px_2px_0_0] active:translate-x-[2px] active:translate-y-[2px] active:shadow-none focus:outline-none bg-red-50 hover:bg-red-300">
                      Decline
                    </button>

                  </a>
                </li>
              <% } %>
            </ul>
          <% } else { %>
            <div class="p-10 text-center flex flex-col items-center justify-center text-gray-500 gap-2">
              <p>You have not received any friend requests =(</p>
            </div>
          <% } %>
        </div>
      </div>

    </div>

  </div>

  <div id="user-data-box" style="display: block;" class="md:col-span-1 h-fit border-2 border-black bg-white shadow-[4px_4px_0_0_#000]">
    <div class="border-b-2 border-black bg-gray-100 p-4 flex justify-between items-center">
      <h3 class="font-bold text-lg uppercase flex items-center gap-2"> Personal Data </h3>

      <button
        id="data-button"
        class="self-end cursor-pointer border-2 border-black px-5 py-3 font-bold text-black shadow-[4px_4px_0_0] transition-all hover:shadow-[2px_2px_0_0] active:translate-x-[2px] active:translate-y-[2px] active:shadow-none focus:outline-none bg-yellow-50 hover:bg-yellow-300">
        Update personal info
      </button>
    </div>
    
    <dl class="divide-y-2 divide-black">

      <div class="p-4">
        <dt class="text-xs font-bold text-gray-500 uppercase"> Username </dt>
        <dd class="text-lg font-bold text-gray-900 mt-1"> <%= locals.username %> </dd>
      </div>

      <div class="p-4">
          <dt class="text-xs font-bold text-gray-500 uppercase"> Email </dt>
          <dd class="text-lg font-bold text-gray-900 mt-1"> <%= locals.email %> </dd>
      </div>

      <div class="p-4">
        <dt class="text-xs font-bold text-gray-500 uppercase"> Is profile public </dt>
        <dd class="ttext-lg font-bold text-gray-900 mt-1"> <%= locals.is_public %> </dd>
      </div>
      
      <div class="p-4 bg-yellow-50">
        <dt class="text-xs font-bold text-gray-500 uppercase"> Password </dt>
        <dd class="text-lg font-bold"> •••••••••• <dd>
      </div>
    </dl>
  </div>

  <%- include('partials/user_data_edit', { error: false }) %>

</div>
